{% extends 'station/base.html' %}

{% block content %}
<div class="hero-section">
    <div class="container text-center">
        <h1>Официальный сайт автовокзала</h1>
        <p>купить билет на автобус в несколько кликов</p>

        <form method="get" action="{% url 'index' %}" class="search-panel">
    <div class="search-group">
        <span class="search-label">Откуда</span>
        <div class="input-container">
            <input type="text" name="from_city" placeholder="Город..." list="cities_list" autocomplete="off">
        </div>
    </div>

    <div class="search-group">
        <span class="search-label">Куда</span>
        <div class="input-container">
            <input type="text" name="to_city" placeholder="Куда едем?" list="cities_list" autocomplete="off">
        </div>
    </div>

    <div class="search-group" style="flex: 0.7;">
        <span class="search-label">Дата поездки</span>
        <div class="input-container">
            <input type="text" placeholder="Все дни" onfocus="(this.type='date')" name="date">
        </div>
    </div>

    <button type="submit" class="btn-search">Найти</button>
    </form>

    <datalist id="cities_list">
        {% for city in cities %}
        <option value="{{ city.name }}">
        {% endfor %}
    </datalist>
    </div>
</div>

<div class="container mt-5">
    <h3 class>Отправления рейсов online</h3>

    <div class="table-responsive">
        <table class="table-trips">
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Рейс</th>
                    <th>Перевозчик</th>
                    <th class="text-center">Платформа</th>
                    <th>Состояние</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                <tr>
                    <td class="time-col">{{ trip.departure_time|date:"H:i" }}</td>

                    <td>{{ trip.route }}</td>

                    <td class="text-muted">
                        {% if trip.driver %}ИП {{ trip.driver.full_name }}{% else %}---{% endif %}
                    </td>

                    <td class="platform-col">{{ trip.platform }}</td>

                    <td>
                        {% if trip.status == 'open' %}
                            <span class="status-open">Открыт</span>
                        {% elif trip.status == 'boarding' %}
                            <span class="status-boarding">Идёт посадка</span>
                        {% elif trip.status == 'sent' %}
                            <span class="status-sent">Отправлен</span>
                        {% else %}
                            <span class="status-cancelled">Отменён перевозчиком</span>
                        {% endif %}
                    </td>

                    <td class="text-end" style="width: 200px;">
                        {% if trip.status == 'open' or trip.status == 'boarding' %}
                            <a href="{% url 'checkout' trip.id %}?date={{ request.GET.date }}" class="btn-buy-ticket">Купить билет</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center py-5 text-muted">По вашему запросу рейсов не найдено.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}