{% extends 'station/base.html' %}

{% block content %}
<div class="hero-section">
    <div class="container text-center">
        <h1>Официальный сайт автовокзала</h1>
        <p>купить билет на автобус в несколько кликов</p>

        <form method="get" action="{% url 'index' %}" class="search-panel">
    <div class="search-group">
        <span class="search-label">Откуда</span>
        <div class="input-container">
            <input type="text" name="from_city" placeholder="Город..." list="cities_list" autocomplete="off">
        </div>
    </div>

    <div class="search-group">
        <span class="search-label">Куда</span>
        <div class="input-container">
            <input type="text" name="to_city" placeholder="Куда едем?" list="cities_list" autocomplete="off">
        </div>
    </div>

    <div class="search-group" style="flex: 0.7;">
        <span class="search-label">Дата поездки</span>
        <div class="input-container">
            <input type="text" placeholder="Все дни" onfocus="(this.type='date')" name="date">
        </div>
    </div>

    <button type="submit" class="btn-search">Найти</button>
    </form>

    <datalist id="cities_list">
        {% for city in cities %}
        <option value="{{ city.name }}">
        {% endfor %}
    </datalist>
    </div>
</div>

<div class="container mt-5">
    <h3 class="mb-4">Отправления рейсов online</h3>
    <div class="table-responsive bg-white rounded shadow-sm">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Время</th>
                    <th>Рейс</th>
                    <th>Перевозчик / Автобус</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                <tr>
                    <td class="fw-bold text-primary">{{ trip.departure_time|date:"H:i" }}</td>
                    <td>{{ trip.route }}</td>
                    <td>
                        <small class="text-muted d-block">ИП {{ trip.driver.full_name }}</small>
                        <span>{{ trip.bus.model.name }}</span>
                    </td>
                    <td class="fw-bold">{{ trip.price }} руб.</td>
                    <td class="text-end">
                        <a href="{% url 'buy_ticket' trip.id %}" class="btn-buy-ticket">Купить билет</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center py-5">Рейсов на сегодня пока нет.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}